
@{
    
}
<div class="cameo">
    @*<div class="card border-0 bg-transparent">
        <div class="card-header">@ViewBag.formUI.Formname</div>
        <div class="card-body p-0">
            <div class="container" id="app">Loading...</div>
        </div>
    </div>*@
    <div id="app">Loading...</div>
</div>
<script>
    var cameo = new goCameo();
    cameo.unmountComponent(document.getElementById("app"));
    var param = {
        formid: null,
        dataid: "",
        formui: null, @*@Html.Raw(ViewBag.formUI),*@
        datamodel: null,
        access:  "@ViewBag.access",
        pageparams: {},
        settings: @Html.Raw(ViewBag.settings),
    }
    cameo.form(param, document.getElementById("app"));
</script>

