@{
    // ViewData["Title"] = "Home Page";
    //Layout = null;
}
<div class="roles">
    <div class="container  d-flex flex-column justify-content-center align-items-center">
        <h2 class="mt-3 text-white">
            Which hat would you like to wear today?
        </h2>
        <div class="row justify-content-center align-items-center">
            @foreach (dynamic item in Startup.Roles)
            {
                <a class="col-auto"  asp-controller="Home" asp-action="SelectedRole" asp-route-RoleId="@item.roleid.ToString()" >
                    <div class="d-flex flex-column justify-content-center align-items-center rounded-circle pointer">
                        @if (item.rolename.ToString() == "Delivery Manager")
                        {
                            <svg viewBox="0 0 512 512">
                                <path style="fill:#EFF2FA;" d="M105.931,392.828h388.414c9.751,0,17.655-7.904,17.655-17.655V92.69  c0-9.751-7.904-17.655-17.655-17.655H105.931c-9.751,0-17.655,7.904-17.655,17.655v282.483  C88.276,384.922,96.18,392.828,105.931,392.828z" />
                                <path style="fill:#FFD782;" d="M317.793,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828V128c0-4.875,3.953-8.828,8.828-8.828h35.31  c4.875,0,8.828,3.953,8.828,8.828v211.862C326.621,344.737,322.668,348.69,317.793,348.69z" />
                                <path style="fill:#FFC36E;" d="M317.793,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-88.276c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v88.276C326.621,344.737,322.668,348.69,317.793,348.69z" />
                                <path style="fill:#C3E678;" d="M388.414,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-88.276c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v88.276C397.241,344.737,393.289,348.69,388.414,348.69z" />
                                <path style="fill:#A5D76E;" d="M388.414,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-17.655c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v17.655C397.241,344.737,393.289,348.69,388.414,348.69z" />
                                <path style="fill:#B4E1FA;" d="M176.552,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-88.276c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v88.276C185.379,344.737,181.427,348.69,176.552,348.69z" />
                                <path style="fill:#9BE6D2;" d="M459.034,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828V180.966c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v158.897C467.862,344.737,463.91,348.69,459.034,348.69z" />
                                <path style="fill:#78D2BE;" d="M459.034,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-52.966c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v52.966C467.862,344.737,463.91,348.69,459.034,348.69z" />
                                <path style="fill:#FF6464;" d="M247.172,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828V216.276c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v123.586C256,344.737,252.047,348.69,247.172,348.69z" />
                                <path style="fill:#D2555A;" d="M247.172,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-35.31c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v35.31C256,344.737,252.047,348.69,247.172,348.69z" />
                                <path style="fill:#A0D2F0;" d="M176.552,348.69h-35.31c-4.875,0-8.828-3.953-8.828-8.828v-17.655c0-4.875,3.953-8.828,8.828-8.828  h35.31c4.875,0,8.828,3.953,8.828,8.828v17.655C185.379,344.737,181.427,348.69,176.552,348.69z" />
                                <path style="fill:#D7DEED;" d="M485.517,357.517H114.759c-4.875,0-8.828-3.953-8.828-8.828l0,0c0-4.875,3.953-8.828,8.828-8.828  h370.759c4.875,0,8.828,3.953,8.828,8.828l0,0C494.345,353.565,490.392,357.517,485.517,357.517z" />
                                <polygon style="fill:#E6AF78;" points="142.6,367.703 142.6,339.183 69.262,339.183 69.262,367.703 105.931,400.297 " />
                                <path style="fill:#B4E1FA;" d="M199.297,381.044l-50.415-11.862c-0.761-0.179-1.462-0.483-2.116-0.852l-40.834,23.819  l-39.242-24.972c-1.016,0.957-2.276,1.667-3.709,2.004l-50.415,11.862C5.203,382.775,0,389.345,0,396.907v31.91  c0,4.501,3.648,8.149,8.149,8.149h195.565c4.5,0,8.149-3.648,8.149-8.149v-31.91C211.862,389.345,206.659,382.775,199.297,381.044z" />
                                <path style="fill:#D29B6E;" d="M69.262,339.183v30.091c46.193,16.642,73.337-25.01,73.337-25.01v-5.081L69.262,339.183  L69.262,339.183z" />
                                <path style="fill:#F0C087;" d="M52.966,245.474l3.551,78.11c0.332,7.297,3.91,14.063,9.753,18.446l16.846,12.634  c4.232,3.174,9.378,4.889,14.667,4.889h16.297c5.289,0,10.436-1.716,14.667-4.889l16.846-12.634  c5.844-4.383,9.421-11.149,9.753-18.446l3.55-78.11H52.966z" />
                                <path style="fill:#E6AF78;" d="M93.708,261.772c16.297,0,40.743-4.074,46.541-16.297H52.966l3.55,78.11  c0.332,7.297,3.91,14.063,9.753,18.446l16.846,12.634c4.232,3.174,9.378,4.889,14.667,4.889h8.149  c-8.149,0-24.446-16.297-24.446-36.669c0-9.963,0-36.669,0-48.892C81.485,269.92,85.559,261.772,93.708,261.772z" />
                                <path style="fill:#A0D2F0;" d="M181.952,410.524l26.401-23.716c2.212,2.802,3.51,6.326,3.51,10.1v31.91   c0,4.5-3.648,8.149-8.149,8.149h-28.52v-11.287C175.193,419.896,177.651,414.387,181.952,410.524z" />
                                <path style="fill:#A0D2F0;" d="M29.91,410.524l-26.4-23.716c-2.214,2.802-3.51,6.326-3.51,10.1v31.91   c0,4.501,3.648,8.149,8.149,8.149h28.52v-11.287C36.669,419.896,34.211,414.387,29.91,410.524z" />
                                <polygon style="fill:#5B5D6E;" points="116.117,436.966 95.745,436.966 98.292,400.297 113.57,400.297 " />
                                <path style="fill:#515262;" d="M116.117,392.149H95.745v2.354c0,5.451,4.418,9.869,9.869,9.869h0.632  c5.451,0,9.869-4.418,9.869-9.869v-2.354H116.117z" />
                                <path style="fill:#A0D2F0;" d="M68.691,358.632l37.24,33.517c0,0-10.43,5.265-23.3,15.876c-2.655,2.189-6.671,1.302-8.095-1.831   l-17.496-38.492l5.535-8.302C63.953,357.333,66.844,356.97,68.691,358.632z" />
                                <path style="fill:#A0D2F0;" d="M143.171,358.632l-37.24,33.517c0,0,10.43,5.265,23.3,15.876c2.655,2.189,6.671,1.302,8.095-1.831   l17.496-38.492l-5.535-8.302C147.91,357.333,145.018,356.97,143.171,358.632z" />
                                <path style="fill:#785550;" d="M130.632,218.483l3.82,26.993c17.436,3.487,19.948,30.849,20.31,38.665  c0.066,1.418,0.519,2.788,1.288,3.981l6.653,10.319c0,0-2.278-17.062,8.149-28.52C170.85,269.92,174.43,202.186,130.632,218.483z" />
                                <path style="fill:#F0C087;" d="M166.79,296.696l-4.601,18.404c-0.545,2.18-2.505,3.71-4.753,3.71l0,0  c-2.471,0-4.554-1.839-4.861-4.29l-2.353-18.824c-0.629-5.034,3.296-9.48,8.369-9.48h0.017  C164.094,286.218,168.12,291.373,166.79,296.696z" />
                                <path style="fill:#694B4B;" d="M56.87,211.183l6.027,4.116C35.65,235.416,40.743,269.92,40.743,269.92  c8.149,8.149,8.149,28.52,8.149,28.52l8.149-8.149c0,0-3.145-23.539,12.223-32.594c14.26-8.403,26.738-4.074,39.469-4.074  c34.122,0,43.671-12.86,42.016-28.52c-0.856-8.104-13.246-24.982-44.817-24.446C93.19,200.874,69.262,204.732,56.87,211.183z" />
                                <path style="fill:#5A4146;" d="M54.494,250.058c0,0-4.329-17.062,8.403-34.759C35.65,235.416,40.743,269.92,40.743,269.92  c8.149,8.149,8.149,28.52,8.149,28.52l8.149-8.149c0,0-3.145-23.539,12.223-32.594c14.26-8.403,26.738-4.074,39.469-4.074  c5.549,0,10.386-0.372,14.692-1.009C97.145,253.496,81.655,233.591,54.494,250.058z" />
                                <path style="fill:#E6AF78;" d="M45.073,296.696l4.601,18.404c0.545,2.18,2.505,3.71,4.753,3.71l0,0c2.471,0,4.554-1.839,4.861-4.29  l2.353-18.824c0.629-5.034-3.296-9.48-8.369-9.48h-0.017C47.768,286.218,43.742,291.373,45.073,296.696z" />
                                <path style="fill:#A0D2F0;" d="M154.823,428.817h-20.372c-4.5,0-8.149,3.648-8.149,8.149l0,0h36.669l0,0  C162.97,432.465,159.322,428.817,154.823,428.817z" />
                            </svg>
                        }
                        else if (item.rolename.ToString() == "TL/RL")
                        {
                            <svg viewBox="0 0 395.636 395.636">
                                <path style="fill:#FDBF5E;" d="M197.818,150.82c-41.438,0-75.442-34.004-75.442-75.442S156.38,0,197.818,0  s75.442,34.004,75.442,75.442S239.257,150.82,197.818,150.82z" />
                                <circle style="fill:#FFFFFF;" cx="197.818" cy="66.133" r="32.129" />
                                <path style="fill:#FFFFFF;" d="M234.925,98.909h-74.214c-12.994,0-23.467,10.537-23.467,23.467v34.004   c16.679,12.994,37.689,20.428,60.574,20.428s43.895-7.434,60.574-20.428v-34.004C258.392,109.446,247.919,98.909,234.925,98.909z" />
                                <path style="fill:#193651;" d="M259.62,288.711c0.646-0.646,1.228-0.646,1.875-0.646l-57.471-57.471v-48.226  c21.01-1.228,40.792-8.663,58.117-21.657l2.457-1.875v-36.461c0-16.679-12.994-29.673-29.673-29.673h-8.663  c6.206-6.788,10.537-16.097,10.537-25.988c0-21.01-17.325-38.335-38.335-38.335s-38.335,17.325-38.335,38.335  c0,9.891,3.685,19.135,10.537,25.988h-9.891c-16.097,0-29.673,13.576-29.673,29.673v36.461l2.457,1.875  c17.325,12.994,37.107,20.428,58.117,21.657v48.226l-85.333,85.333l8.663,8.663l82.812-82.877l55.014,55.014  C254.061,293.624,256.517,290.521,259.62,288.711z M197.818,40.21c14.222,0,25.988,11.766,25.988,25.988s-11.766,26.57-25.988,26.57  c-14.222,0-25.988-11.766-25.988-25.988S183.596,40.21,197.818,40.21z M143.451,152.695v-30.319c0-9.244,8.016-17.325,17.325-17.325  h74.214c9.244,0,17.325,8.016,17.325,17.325v30.319c-16.162,11.119-34.715,17.325-54.497,17.325S159.483,163.814,143.451,152.695z" />
                                <path style="fill:#F16051;" d="M320.194,390.723c-41.438,0-75.442-34.004-75.442-75.442s34.069-75.442,75.442-75.442  s75.442,33.422,75.442,75.442C395.636,356.719,361.632,390.723,320.194,390.723z" />
                                <circle style="fill:#FFFFFF;" cx="320.194" cy="305.972" r="32.129" />
                                <path style="fill:#FFFFFF;" d="M357.301,338.166h-37.107h-37.042c-12.994,0-23.467,10.537-23.467,23.467v34.004h121.083v-34.004   C380.768,348.638,370.295,338.166,357.301,338.166z" />
                                <path style="fill:#193651;" d="M357.301,331.96h-8.663c6.206-6.788,10.537-16.097,10.537-25.988   c0-21.01-17.325-38.335-38.335-38.335s-38.335,17.325-38.335,38.335c0,9.891,3.685,19.135,10.537,25.988h-8.663   c-16.097,0-29.673,13.576-29.673,29.673v34.004h12.347v-34.004c0-9.244,8.016-17.325,17.325-17.325h74.149   c9.244,0,17.325,8.016,17.325,17.325v34.004h12.347v-34.004C386.974,345.535,373.98,331.96,357.301,331.96z M294.271,305.972   c0-14.222,11.766-25.988,25.988-25.988s25.988,11.766,25.988,25.988s-11.766,25.988-25.988,25.988S294.271,320.194,294.271,305.972   z" />
                                <rect x="284.962" y="370.941" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="314.053" y="370.941" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="343.725" y="370.941" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="161.939" y="131.038" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="191.612" y="131.038" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="221.285" y="131.038" style="fill:#193651;" width="12.347" height="12.994" />
                                <path style="fill:#2EA2DB;" d="M75.442,390.723C34.004,390.723,0,356.719,0,315.281s34.004-75.442,75.442-75.442  s75.442,34.004,75.442,75.442S116.816,390.723,75.442,390.723z" />
                                <circle style="fill:#FFFFFF;" cx="75.442" cy="305.972" r="32.129" />
                                <path id="SVGCleanerId_0" style="fill:#FFFFFF;" d="M112.485,338.166H75.378H38.335c-12.994,0-23.467,10.537-23.467,23.467v34.004  h121.147v-34.004C136.016,348.638,125.479,338.166,112.485,338.166z" />
                                <circle style="fill:#FFFFFF;" cx="75.442" cy="305.972" r="32.129" />
                                <path id="SVGCleanerId_0_1_" style="fill:#FFFFFF;" d="M112.485,338.166H75.378H38.335c-12.994,0-23.467,10.537-23.467,23.467   v34.004h121.147v-34.004C136.016,348.638,125.479,338.166,112.485,338.166z" />
                                <path style="fill:#193651;" d="M112.485,331.96h-8.663c6.206-6.788,10.537-16.097,10.537-25.988   c0-21.01-17.325-38.335-38.335-38.335s-38.335,17.325-38.335,38.335c0,9.891,3.685,19.135,10.537,25.988h-9.891   c-16.097,0-29.673,13.576-29.673,29.673v34.004H21.01v-34.004c0-9.244,8.016-17.325,17.325-17.325h74.149   c9.244,0,17.325,8.016,17.325,17.325v34.004h12.347v-34.004C142.158,345.535,128.582,331.96,112.485,331.96z M49.455,305.972   c0-14.222,11.766-25.988,25.988-25.988s25.988,11.766,25.988,25.988S89.665,331.96,75.442,331.96S49.455,320.194,49.455,305.972z" />
                                <rect x="39.564" y="370.941" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="69.236" y="370.941" style="fill:#193651;" width="12.347" height="12.994" />
                                <rect x="98.263" y="370.941" style="fill:#193651;" width="12.347" height="12.994" />
                            </svg>
                        }
                        else if (item.rolename.ToString() == "Director")
                        {
                            <svg viewBox="0 0 511.652 511.652" *ngIf="">
                                <path style="fill:#656D78;" d="M347.693,182.929c0.031-1.039,0.156-2.046,0.156-3.092c0-53.011-42.971-95.981-95.974-95.981  c-53.011,0-95.981,42.971-95.981,95.981v95.915h94.896c0.367,0,0.718,0.062,1.085,0.062s0.718-0.062,1.085-0.062h94.733  L347.693,182.929L347.693,182.929z" />
                                <g style="opacity:0.2;">
                                    <path style="fill:#FFFFFF;" d="M259.871,84.261c-2.641-0.219-5.294-0.406-7.996-0.406c-53.011,0-95.981,42.971-95.981,95.981   v95.915h15.989v-95.915C171.883,129.527,210.607,88.328,259.871,84.261z" />
                                    <path style="fill:#FFFFFF;" d="M251.875,275.815c0.367,0,0.718-0.062,1.085-0.062h-2.17   C251.157,275.753,251.508,275.815,251.875,275.815z" />
                                </g>
                                <g style="opacity:0.2;">
                                    <path d="M244.271,84.261c2.639-0.219,5.294-0.406,7.995-0.406c53.011,0,95.982,42.971,95.982,95.981v95.915h-15.99v-95.915   C332.258,129.527,293.535,88.328,244.271,84.261z" />
                                    <path d="M252.266,275.815c-0.367,0-0.719-0.062-1.085-0.062h2.17C252.984,275.753,252.633,275.815,252.266,275.815z" />
                                </g>
                                <rect x="387.736" y="187.826" style="fill:#656D78;" width="111.92" height="79.942" />
                                <rect x="67.956" y="315.737" style="fill:#7F4545;" width="375.74" height="143.9" />
                                <rect x="3.997" y="283.767" style="fill:#965353;" width="503.66" height="31.979" />
                                <polygon style="fill:#E6E9ED;" points="251.907,211.877 235.917,219.794 211.934,195.81 219.054,186.082  " />
                                <polygon style="fill:#E6E9ED;" points="252.235,211.877 268.217,219.794 292.199,195.81 285.096,186.082  " />
                                <path style="fill:#656D78;" d="M283.486,76.134c0,0,32.385-4.552,24.234,47.726l-15.99-23.984c0,0-18.955,7.995-39.746,7.995  c-20.705,0-40.207-7.995-40.207-7.995l-15.911,23.906l-0.078,0.078c-8.229-87.94,96.02-70.429,96.02-70.429  C276.289,59.746,283.486,76.134,283.486,76.134z" />
                                <g style="opacity:0.2;">
                                    <path d="M283.486,76.134c0,0,19.846-3.849,17.348,37.396l6.887,10.329C315.871,71.582,283.486,76.134,283.486,76.134z" />
                                </g>
                                <g style="opacity:0.2;">
                                    <path style="fill:#FFFFFF;" d="M275.523,52.064c-28.972-0.781-85.902,5.934-79.735,71.795l0.078-0.078l7.558-11.336   C204.486,62.307,247.3,52.813,275.523,52.064z" />
                                </g>
                                <path style="fill:#EAC6BB;" d="M307.955,131.931c0,37.975-34.617,72.997-55.97,72.997c-21.251,0-55.962-35.022-55.962-72.997v-8.072  l-0.156-0.078l15.911-23.906c0,0,19.502,7.995,40.207,7.995c20.791,0,39.746-7.995,39.746-7.995l15.99,23.984h0.234L307.955,131.931  L307.955,131.931z" />
                                <g style="opacity:0.2;">
                                    <path d="M307.721,123.859l-15.99-23.984c0,0-5.246,2.186-13.146,4.263l13.146,19.721h0.234v8.072   c0,33.517-26.949,64.69-47.959,71.561c2.795,0.914,5.481,1.437,7.979,1.437c21.353,0,55.97-35.022,55.97-72.997v-8.072   L307.721,123.859L307.721,123.859z" />
                                </g>
                                <g style="opacity:0.3;">
                                    <path style="fill:#FFFFFF;" d="M212.012,131.931v-8.072l-0.156-0.078l13.116-19.69c-7.933-2.061-13.194-4.216-13.194-4.216   l-15.911,23.906l0.156,0.078v8.072c0,37.975,34.711,72.997,55.962,72.997c2.514,0,5.214-0.522,8.019-1.437   C239.04,196.622,212.012,165.448,212.012,131.931z" />
                                </g>
                                <path style="fill:#5D9CEC;" d="M347.693,283.747H155.816v-7.994c0,0,0-21.341,0-34.613c0-13.351,6.714-18.378,19.986-23.344  c6.558-2.475,18.315-6.87,27.981-11.508l9.353-9.274l22.781,22.781l15.989-7.917l15.998,7.917l22.703-22.703l9.119,9.119  c9.742,4.715,21.422,9.111,27.98,11.585c13.35,4.966,19.986,9.993,19.986,23.344c0,13.272,0,34.613,0,34.613v7.994H347.693z" />
                                <g style="opacity:0.3;">
                                    <path style="fill:#FFFFFF;" d="M171.805,241.138c0-13.351,6.714-18.378,19.986-23.344c6.558-2.475,18.315-6.87,27.981-11.508   l1.327-1.312l-7.963-7.963l-9.353,9.274c-9.666,4.638-21.423,9.033-27.981,11.508c-13.272,4.966-19.986,9.993-19.986,23.344   c0,13.272,0,34.613,0,34.613v7.994h15.989v-7.994C171.805,275.753,171.805,254.411,171.805,241.138z" />
                                </g>
                                <g style="opacity:0.2;">
                                    <path d="M331.859,241.138c0-13.351-6.713-18.378-19.986-23.344c-6.541-2.475-18.299-6.87-27.98-11.508l-1.326-1.312l7.963-7.963   l9.354,9.274c9.68,4.638,21.438,9.033,27.98,11.508c13.271,4.966,19.986,9.993,19.986,23.344c0,13.272,0,34.613,0,34.613v7.994   h-15.99v-7.994C331.859,275.753,331.859,254.411,331.859,241.138z" />
                                </g>
                                <polygon style="fill:#ED5564;" points="260.221,283.747 244.24,283.747 248.237,223.791 256.232,223.791  " />
                                <rect x="244.836" y="212.926" style="fill:#ED5564;" width="14.249" height="10.867" />
                                <rect x="19.986" y="315.737" style="fill:#965353;" width="47.967" height="143.9" />
                                <rect x="443.696" y="315.737" style="fill:#965353;" width="47.969" height="143.9" />
                                <rect x="91.936" y="339.727" style="fill:#965353;" width="319.78" height="103.93" />
                                <g style="opacity:0.3;">
                                    <rect x="19.986" y="323.737" style="fill:#FFFFFF;" width="7.994" height="135.91" />
                                </g>
                                <g style="opacity:0.3;">
                                    <rect x="91.936" y="339.727" style="fill:#FFFFFF;" width="7.995" height="103.93" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="403.726" y="339.727" width="7.996" height="103.93" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="435.706" y="323.737" width="7.994" height="135.91" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="483.676" y="323.737" width="7.994" height="135.91" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="67.956" y="323.737" width="7.995" height="135.91" />
                                </g>
                                <g style="opacity:0.3;">
                                    <rect x="443.696" y="323.737" style="fill:#FFFFFF;" width="7.996" height="135.91" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="59.956" y="323.737" width="7.994" height="135.91" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="19.986" y="315.737" width="471.68" height="7.994" />
                                </g>
                                <path style="fill:#FFCE54;" d="M451.693,227.804c0,4.419-3.576,7.995-7.996,7.995c-4.418,0-7.994-3.576-7.994-7.995  c0-4.418,3.576-7.994,7.994-7.994C448.117,219.809,451.693,223.385,451.693,227.804z" />
                                <path style="fill:#E6E9ED;" d="M115.921,235.799H3.997v31.975h111.924c0,0-7.995-7.991-7.995-15.985   C107.927,243.793,115.921,235.799,115.921,235.799z" />
                                <path style="fill:#E6E9ED;" d="M19.987,219.809h79.945V203.82H19.987c0,0,7.994,0,7.994,7.995S19.987,219.809,19.987,219.809z" />
                                <g style="opacity:0.2;">
                                    <rect x="3.997" y="235.796" width="7.994" height="31.975" />
                                </g>
                                <g style="opacity:0.2;">
                                    <rect x="91.936" y="203.816" width="7.995" height="15.989" />
                                </g>
                                <path style="fill:#3A3847;" d="M155.894,279.764c-2.209,0-3.997-1.78-3.997-3.997v-34.629c0-15.583,8.283-21.728,22.586-27.075   c4.786-1.788,17.504-6.542,27.653-11.391c2.006-0.96,4.372-0.117,5.332,1.881c0.952,1.999,0.109,4.38-1.882,5.333   c-9.384,4.481-20.649,8.807-28.309,11.672c-13.647,5.098-17.387,9.306-17.387,19.58v34.629   C159.891,277.984,158.103,279.764,155.894,279.764z" />
                                <path style="fill:#3A3847;" d="M347.764,279.764c-2.209,0-3.998-1.78-3.998-3.997v-34.629c0-10.274-3.738-14.482-17.387-19.58   c-7.658-2.865-18.932-7.198-28.324-11.695c-1.99-0.953-2.834-3.342-1.881-5.333c0.953-1.999,3.365-2.834,5.332-1.881   c9.111,4.364,20.158,8.604,27.668,11.414c14.303,5.348,22.588,11.492,22.588,27.075v34.629   C351.762,277.984,349.972,279.764,347.764,279.764z" />
                                <path style="fill:#3A3847;" d="M252.071,208.91c-22.586,0-59.959-35.952-59.959-76.924c0-2.209,1.788-3.997,3.997-3.997   s3.997,1.788,3.997,3.997c0,35.546,32.416,68.93,51.965,68.93c19.548,0,51.964-33.383,51.964-68.93   c0-2.209,1.789-3.997,3.998-3.997s3.996,1.788,3.996,3.997C312.029,172.958,274.656,208.91,252.071,208.91z" />
                                <path style="fill:#3A3847;" d="M195.867,127.872c-0.328,0-0.656-0.039-0.976-0.125c-1.647-0.414-2.85-1.811-3.006-3.498   c-2.116-22.586,2.779-40.589,14.553-53.51c17.105-18.784,44.844-22.727,65.095-22.727c12.086,0,20.635,1.405,20.994,1.468   c1.758,0.296,3.107,1.725,3.311,3.497c0.195,1.772-0.805,3.467-2.451,4.146c-3.412,1.398-5.598,3.389-6.691,6.09   c-1.256,3.115-0.812,6.589-0.258,8.861c4.084,0.164,12.297,1.476,18.551,8.775c7.604,8.892,9.875,23.57,6.752,43.642   c-0.256,1.624-1.482,2.935-3.09,3.287c-1.633,0.352-3.271-0.32-4.186-1.687l-14.217-21.321c-6.363,2.303-21.609,7.112-38.177,7.112   c-16.622,0-32.212-4.84-38.653-7.136l-14.225,21.345C198.443,127.224,197.178,127.872,195.867,127.872z M291.801,95.893   c1.305,0,2.57,0.641,3.326,1.78l9.861,14.795c0.617-11.977-1.445-21.001-6.074-26.42c-4.473-5.215-10.336-5.996-13.436-5.996   c-0.781,0-1.281,0.055-1.383,0.062c-1.771,0.242-3.482-0.733-4.199-2.35c-0.164-0.375-3.967-9.228-0.609-17.543   c0.562-1.405,1.287-2.693,2.162-3.88c-2.857-0.195-6.215-0.336-9.916-0.336c-18.643,0-44.047,3.49-59.185,20.111   c-8.05,8.838-12.359,20.627-12.89,35.164l9.072-13.608c1.054-1.585,3.092-2.209,4.841-1.483c0.188,0.078,19.019,7.698,38.7,7.698   c19.666,0,37.998-7.604,38.177-7.683C290.756,95.995,291.279,95.893,291.801,95.893z" />
                                <path style="fill:#3A3847;" d="M308.033,135.983c-2.209,0-3.998-1.788-3.998-3.997v-8.111c0-2.21,1.789-3.998,3.998-3.998   s3.996,1.788,3.996,3.998v8.111C312.029,134.196,310.242,135.983,308.033,135.983z" />
                                <path style="fill:#3A3847;" d="M196.109,135.983c-2.209,0-3.997-1.788-3.997-3.997v-8.111c0-2.21,1.788-3.998,3.997-3.998   s3.997,1.788,3.997,3.998v8.111C200.106,134.196,198.318,135.983,196.109,135.983z" />
                                <path style="fill:#3A3847;" d="M235.964,223.806c-1.038,0-2.061-0.406-2.826-1.171l-23.983-23.983   c-1.562-1.562-1.562-4.091,0-5.653c1.562-1.561,4.091-1.561,5.652,0l21.954,21.954l13.53-6.722c1.96-0.968,4.372-0.18,5.364,1.804   c0.976,1.982,0.171,4.38-1.803,5.363l-16.106,7.995C237.174,223.674,236.566,223.806,235.964,223.806z" />
                                <path style="fill:#3A3847;" d="M267.935,223.806c-0.602,0-1.211-0.133-1.781-0.414l-16.106-7.995   c-1.975-0.983-2.779-3.381-1.803-5.363c0.992-1.983,3.373-2.771,5.364-1.804l13.53,6.722l21.953-21.954   c1.562-1.561,4.092-1.561,5.652,0c1.562,1.562,1.562,4.091,0,5.653l-23.982,23.983   C269.996,223.401,268.972,223.806,267.935,223.806z" />
                                <path style="fill:#3A3847;" d="M252.258,231.801c-1.023,0-2.046-0.39-2.826-1.171l-7.995-7.995c-1.561-1.562-1.561-4.091,0-5.652   c1.562-1.562,4.091-1.562,5.653,0l7.995,7.994c1.562,1.562,1.562,4.091,0,5.653C254.303,231.411,253.281,231.801,252.258,231.801z" />
                                <path style="fill:#3A3847;" d="M252.258,231.801c-1.023,0-2.046-0.39-2.826-1.171c-1.562-1.562-1.562-4.091,0-5.653l7.994-7.994   c1.562-1.562,4.092-1.562,5.652,0c1.562,1.562,1.562,4.091,0,5.652l-7.994,7.995C254.303,231.411,253.281,231.801,252.258,231.801z   " />
                                <path style="fill:#3A3847;" d="M244.271,279.764c-0.109,0-0.21,0-0.312-0.016c-2.202-0.156-3.849-2.077-3.677-4.278l3.997-51.969   c0.164-2.209,2.304-4.013,4.287-3.677c2.202,0.164,3.849,2.084,3.677,4.286l-3.998,51.969   C248.089,278.173,246.332,279.764,244.271,279.764z" />
                                <path style="fill:#3A3847;" d="M260.244,279.764c-2.068,0-3.817-1.593-3.973-3.685l-3.997-51.969   c-0.172-2.202,1.476-4.122,3.677-4.286c1.983-0.367,4.114,1.46,4.286,3.677l3.998,51.969c0.172,2.201-1.475,4.122-3.678,4.278   C260.455,279.764,260.353,279.764,260.244,279.764z" />
                                <path style="fill:#3A3847;" d="M507.654,287.76H3.997c-2.209,0-3.997-1.78-3.997-3.998c0-2.201,1.788-3.997,3.997-3.997h503.657   c2.209,0,3.998,1.796,3.998,3.997C511.652,285.98,509.863,287.76,507.654,287.76z" />
                                <path style="fill:#3A3847;" d="M3.997,319.738c-2.209,0-3.997-1.78-3.997-3.997v-31.979c0-2.201,1.788-3.997,3.997-3.997   s3.997,1.796,3.997,3.997v31.979C7.994,317.958,6.206,319.738,3.997,319.738z" />
                                <path style="fill:#3A3847;" d="M507.654,319.738H3.997c-2.209,0-3.997-1.78-3.997-3.997c0-2.201,1.788-3.997,3.997-3.997h503.657   c2.209,0,3.998,1.796,3.998,3.997C511.652,317.958,509.863,319.738,507.654,319.738z" />
                                <path style="fill:#3A3847;" d="M507.654,319.738c-2.209,0-3.996-1.78-3.996-3.997v-31.979c0-2.201,1.787-3.997,3.996-3.997   s3.998,1.796,3.998,3.997v31.979C511.652,317.958,509.863,319.738,507.654,319.738z" />
                                <path style="fill:#3A3847;" d="M443.697,463.639c-2.209,0-3.996-1.78-3.996-3.997V315.741c0-2.201,1.787-3.997,3.996-3.997   c2.211,0,3.998,1.796,3.998,3.997v143.902C447.695,461.859,445.908,463.639,443.697,463.639z" />
                                <path style="fill:#3A3847;" d="M491.666,463.639c-2.209,0-3.998-1.78-3.998-3.997V315.741c0-2.201,1.789-3.997,3.998-3.997   s3.996,1.796,3.996,3.997v143.902C495.662,461.859,493.875,463.639,491.666,463.639z" />
                                <path style="fill:#3A3847;" d="M19.987,463.639c-2.21,0-3.998-1.78-3.998-3.997V315.741c0-2.201,1.788-3.997,3.998-3.997   c2.209,0,3.997,1.796,3.997,3.997v143.902C23.984,461.859,22.196,463.639,19.987,463.639z" />
                                <path style="fill:#3A3847;" d="M67.953,463.639c-2.209,0-3.997-1.78-3.997-3.997V315.741c0-2.201,1.788-3.997,3.997-3.997   c2.21,0,3.998,1.796,3.998,3.997v143.902C71.951,461.859,70.163,463.639,67.953,463.639z" />
                                <path style="fill:#3A3847;" d="M411.721,343.721H91.937c-2.209,0-3.998-1.779-3.998-3.997c0-2.201,1.788-3.997,3.998-3.997H411.72   c2.209,0,3.996,1.796,3.996,3.997C415.717,341.941,413.93,343.721,411.721,343.721z" />
                                <path style="fill:#3A3847;" d="M411.721,447.651H91.937c-2.209,0-3.998-1.78-3.998-3.997c0-2.202,1.788-3.997,3.998-3.997H411.72   c2.209,0,3.996,1.795,3.996,3.997C415.717,445.871,413.93,447.651,411.721,447.651z" />
                                <path style="fill:#3A3847;" d="M91.937,447.651c-2.209,0-3.998-1.78-3.998-3.997v-103.93c0-2.201,1.788-3.997,3.998-3.997   s3.998,1.796,3.998,3.997v103.93C95.935,445.871,94.147,447.651,91.937,447.651z" />
                                <path style="fill:#3A3847;" d="M411.721,447.651c-2.211,0-3.998-1.78-3.998-3.997v-103.93c0-2.201,1.787-3.997,3.998-3.997   c2.209,0,3.996,1.796,3.996,3.997v103.93C415.717,445.871,413.93,447.651,411.721,447.651z" />
                                <path style="fill:#3A3847;" d="M35.975,463.639c-2.209,0-3.997-1.78-3.997-3.997V403.68c0-2.202,1.788-3.997,3.997-3.997   s3.998,1.795,3.998,3.997v55.962C39.973,461.859,38.185,463.639,35.975,463.639z" />
                                <path style="fill:#3A3847;" d="M59.959,375.699c-4.817,0-11.992-3.186-11.992-11.992v-39.973c0-2.201,1.788-3.997,3.998-3.997   s3.998,1.796,3.998,3.997v39.973c0,3.217,2.201,3.951,4.044,3.998c2.186,0.062,3.95,1.857,3.919,4.044   C63.902,373.952,62.145,375.699,59.959,375.699z" />
                                <path style="fill:#3A3847;" d="M475.676,463.639c-2.209,0-3.996-1.78-3.996-3.997v-39.973c0-8.791,7.174-11.992,11.992-11.992   c2.209,0,3.996,1.796,3.996,3.997c0,2.218-1.787,3.997-3.996,3.997c-1.797,0.047-3.998,0.781-3.998,3.998v39.973   C479.674,461.859,477.887,463.639,475.676,463.639z" />
                                <path style="fill:#3A3847;" d="M147.899,439.656c-2.209,0-3.998-1.78-3.998-3.998c-0.046-1.795-0.78-3.997-3.997-3.997H99.931   c-2.209,0-3.997-1.78-3.997-3.997c0-2.201,1.788-3.997,3.997-3.997h39.973c8.799,0,11.992,7.183,11.992,11.991   C151.897,437.876,150.109,439.656,147.899,439.656z" />
                                <path style="fill:#3A3847;" d="M403.724,359.712H283.806c-8.799,0-11.992-7.168-11.992-11.992c0-2.202,1.789-3.998,3.998-3.998   s3.998,1.796,3.998,3.998c0.047,1.795,0.779,3.997,3.996,3.997h119.918c2.211,0,3.998,1.796,3.998,3.997   C407.722,357.931,405.935,359.712,403.724,359.712z" />
                                <path style="fill:#3A3847;" d="M459.687,391.689c-2.209,0-3.998-1.78-3.998-3.997v-55.962c0-2.202,1.789-3.997,3.998-3.997   s3.998,1.795,3.998,3.997v55.962C463.685,389.909,461.896,391.689,459.687,391.689z" />
                                <path style="fill:#3A3847;" d="M195.867,391.689H91.937c-2.209,0-3.998-1.78-3.998-3.997c0-2.201,1.788-3.997,3.998-3.997h103.929   c2.209,0,3.997,1.796,3.997,3.997C199.864,389.909,198.076,391.689,195.867,391.689z" />
                                <path style="fill:#3A3847;" d="M411.721,407.678H339.77c-2.211,0-3.998-1.78-3.998-3.997c0-2.202,1.787-3.997,3.998-3.997h71.951   c2.209,0,3.996,1.795,3.996,3.997C415.717,405.898,413.93,407.678,411.721,407.678z" />
                                <path style="fill:#3A3847;" d="M347.764,215.773c-2.209,0-3.998-1.788-3.998-3.998v-31.939c0-2.21,1.789-3.998,3.998-3.998   s3.998,1.788,3.998,3.998v31.939C351.762,213.985,349.972,215.773,347.764,215.773z" />
                                <path style="fill:#3A3847;" d="M347.764,183.834c-2.209,0-3.998-1.788-3.998-3.997c0-22.461-8.166-44.072-23-60.857   c-1.459-1.655-1.303-4.177,0.352-5.645c1.633-1.452,4.162-1.319,5.645,0.352c16.123,18.245,25,41.737,25,66.15   C351.762,182.046,349.972,183.834,347.764,183.834z" />
                                <path style="fill:#3A3847;" d="M155.894,215.773c-2.209,0-3.997-1.788-3.997-3.998v-31.939c0-2.21,1.788-3.998,3.997-3.998   s3.997,1.788,3.997,3.998v31.939C159.891,213.985,158.103,215.773,155.894,215.773z" />
                                <path style="fill:#3A3847;" d="M155.894,183.834c-2.209,0-3.997-1.788-3.997-3.997c0-24.413,8.876-47.905,24.998-66.15   c1.476-1.671,3.998-1.804,5.645-0.352c1.655,1.468,1.811,3.99,0.351,5.645c-14.833,16.786-23,38.396-23,60.857   C159.891,182.046,158.103,183.834,155.894,183.834z" />
                                <path style="fill:#3A3847;" d="M115.921,271.771H3.997c-2.209,0-3.997-1.78-3.997-3.997v-31.975c0-2.21,1.788-3.998,3.997-3.998   h111.924c1.616,0,3.068,0.976,3.685,2.467c0.625,1.483,0.281,3.208-0.851,4.349c-1.905,1.92-6.831,8.01-6.831,13.171   c0,5.16,4.926,11.25,6.831,13.175c1.132,1.14,1.476,2.857,0.851,4.34C118.99,270.803,117.537,271.771,115.921,271.771z    M7.994,263.78h99.799c-2.03-3.334-3.865-7.564-3.865-11.991c0-4.427,1.835-8.658,3.865-11.992H7.994V263.78z" />
                                <path style="fill:#3A3847;" d="M123.915,239.796h-7.994c-2.209,0-3.997-1.788-3.997-3.997c0-2.21,1.788-3.998,3.997-3.998h7.994   c2.21,0,3.998,1.788,3.998,3.998C127.913,238.008,126.125,239.796,123.915,239.796z" />
                                <path style="fill:#3A3847;" d="M123.915,271.771h-7.994c-2.209,0-3.997-1.78-3.997-3.997c0-2.202,1.788-3.994,3.997-3.994h7.994   c2.21,0,3.998,1.792,3.998,3.994C127.913,269.991,126.125,271.771,123.915,271.771z" />
                                <path style="fill:#3A3847;" d="M99.94,223.806H19.994c-2.21,0-3.998-1.788-3.998-3.997s1.788-3.997,3.998-3.997   c1.795-0.047,3.997-0.781,3.997-3.998s-2.194-3.951-4.036-3.998c-2.187-0.023-3.958-1.803-3.958-3.997   c0-2.178,1.741-3.95,3.912-3.997l0,0h0.008l0,0c0.008,0,0.008,0,0.016,0l0,0h0.008c0.008,0,0.008,0,0.008,0h0.008l0,0   c0.008,0,0.008,0,0.016,0c0,0,0,0,0.008,0l0,0c0.008,0,0.008,0,0.016,0h79.945c2.209,0,3.997,1.788,3.997,3.997v15.989   C103.937,222.019,102.149,223.806,99.94,223.806z M31.416,215.812h64.526v-7.995H31.416c0.367,1.179,0.57,2.506,0.57,3.998   S31.783,214.633,31.416,215.812z" />
                                <path style="fill:#3A3847;" d="M499.66,271.771H387.736c-2.209,0-3.998-1.78-3.998-3.997v-79.942c0-2.209,1.789-3.997,3.998-3.997   H499.66c2.209,0,3.998,1.788,3.998,3.997v79.942C503.658,269.991,501.869,271.771,499.66,271.771z M391.734,263.78h103.928v-71.951   H391.734V263.78z" />
                                <path style="fill:#3A3847;" d="M507.654,271.771H379.742c-2.209,0-3.998-1.78-3.998-3.997c0-2.202,1.789-3.994,3.998-3.994h127.912   c2.209,0,3.998,1.792,3.998,3.994C511.652,269.991,509.863,271.771,507.654,271.771z" />
                                <path style="fill:#3A3847;" d="M443.697,239.796c-3.207,0-6.221-1.249-8.479-3.513c-2.264-2.264-3.512-5.278-3.512-8.479   s1.248-6.214,3.512-8.479c4.529-4.528,12.43-4.528,16.959,0c4.668,4.685,4.668,12.289,0,16.958   C449.912,238.547,446.898,239.796,443.697,239.796z M443.697,223.806c-1.068,0-2.068,0.414-2.826,1.171   c-0.756,0.758-1.17,1.757-1.17,2.826c0,1.07,0.414,2.069,1.17,2.827c1.508,1.499,4.131,1.514,5.652,0   c1.555-1.554,1.555-4.091,0-5.653C445.767,224.221,444.767,223.806,443.697,223.806z" />
                                <path style="fill:#3A3847;" d="M449.351,226.149c-1.023,0-2.047-0.39-2.828-1.171c-1.561-1.561-1.561-4.091,0-5.652l2.828-2.826   c1.561-1.562,4.09-1.562,5.652,0c1.561,1.562,1.561,4.091,0,5.652l-2.826,2.826C451.396,225.759,450.373,226.149,449.351,226.149z" />
                                <path style="fill:#3A3847;" d="M395.73,303.749H123.915c-2.209,0-3.997-1.779-3.997-3.997c0-2.201,1.788-3.997,3.997-3.997H395.73   c2.209,0,3.998,1.796,3.998,3.997C399.728,301.97,397.939,303.749,395.73,303.749z" />
                            </svg>
                        } else if (item.rolename.ToString() == "Senior - Technical Recruiter")
                        {
                        <svg viewBox="0 0 512 512">
                            <path style="fill:#C4304C;" d="M450.2,203v44.1h-8.8c-5.3,0-10.6,1.2-15.4,3.6L414.9,203H450.2z" />
                            <polygon style="fill:#FF4848;" points="291.3,344.3 264.8,370.8 247.2,370.8 220.7,344.3 256,309  " />
                            <polygon style="fill:#FF4848;" points="264.8,370.8 291.3,512 220.7,512 247.2,370.8  " />
                            <path style="fill:#109344;" d="M0,114.8V203v61.8h26.5v-17.7h44.1c2.9,0,5.8,0.4,8.6,1.1l0.3-1.1v-79.4v-53H0V114.8z" />
                            <path style="fill:#FFCBA8;" d="M426,250.8c4.8-2.4,10-3.6,15.4-3.6h44.1v26.5c0,14.6-11.9,26.5-26.5,26.5h-53v-17.7  C406.1,269,413.8,256.6,426,250.8z" />
                            <polygon style="fill:#FFE168;" points="512,141.2 512,220.7 450.2,203 450.2,158.9 " />
                            <path style="fill:#005795;" d="M406.1,352.9v-52.8h53V512h-53V361.9c0-3-0.2-6.1-0.4-9H406.1z" />
                            <rect x="414.9" y="158.9" style="fill:#FF4848;" width="35.3" height="44.1" />
                            <path style="fill:#005795;" d="M370.8,512h-79.4V273.7h26.5c45.3,0,83.2,34.2,87.8,79.3c0.3,2.9,0.4,6,0.4,9v150H370.8z" />
                            <path style="fill:#FFCBA8;" d="M353.1,123.6c9.7,0,17.6,7.9,17.7,17.7c-0.1,9.7-7.9,17.6-17.7,17.7h-17.7v-35.3h17.7V123.6z" />
                            <path style="fill:#FFCBA8;" d="M220.7,242.1c-26.7-10.8-44.1-36.7-44.1-65.5V97.1h8.8c53.4,0,96.7-43,97.1-96.4V53   c0,29.3,23.7,53,53,53v70.6c0,28.8-17.5,54.7-44.1,65.5c-8.4,3.4-17.4,5.1-26.5,5.1h-17.7C238.1,247.2,229.1,245.4,220.7,242.1z    M300.1,128c0-7.3-5.9-13.2-13.2-13.2s-13.2,5.9-13.2,13.2c0,7.3,5.9,13.2,13.2,13.2S300.1,135.3,300.1,128z M238.3,128   c0-7.3-5.9-13.2-13.2-13.2s-13.2,5.9-13.2,13.2c0,7.3,5.9,13.2,13.2,13.2C232.4,141.2,238.3,135.3,238.3,128z" />
                            <path style="fill:#603C2F;" d="M335.4,61.8v44.1c-29.3,0-53-23.7-53-53V0.7C312.9,5,335.5,31.1,335.4,61.8z" />
                            <polygon style="fill:#F5F5F5;" points="291.3,344.3 291.3,512 264.8,370.8  " />
                            <polygon style="fill:#F5F5F5;" points="291.3,273.7 291.3,344.3 256,309  " />
                            <path style="fill:#FFCBA8;" d="M220.7,273.7v-31.6c8.4,3.4,17.4,5.1,26.5,5.1h17.7c9.1,0,18.1-1.7,26.5-5.1v31.6L256,309l-35.3-32  V273.7z" />
                            <circle style="fill:#603C2F;" cx="286.9" cy="128" r="13.2" />
                            <path style="fill:#603C2F;" d="M273.7,0c3,0,5.9,0.2,8.8,0.7c-0.4,53.4-43.7,96.4-97.1,96.4h-8.8V61.8c0-34.1,27.7-61.8,61.8-61.8   H273.7z" />
                            <polygon style="fill:#F5F5F5;" points="256,309 220.7,344.3 220.7,277  " />
                            <polygon style="fill:#F5F5F5;" points="247.2,370.8 220.7,512 220.7,344.3  " />
                            <circle style="fill:#603C2F;" cx="225.1" cy="128" r="13.2" />
                            <path style="fill:#005795;" d="M141.2,512h-35.3V361.9c0-3,0.2-6.1,0.4-9c4.6-45,42.6-79.3,87.8-79.3h26.5V512H141.2z" />
                            <path style="fill:#FFCBA8;" d="M176.6,123.6v35.3h-17.7c-9.7-0.1-17.6-7.9-17.7-17.7c0-9.7,7.9-17.6,17.7-17.7h17.7V123.6z" />
                            <path style="fill:#005795;" d="M105.9,352.9h0.4c-0.3,2.9-0.4,6-0.4,9V512H53V300.1h53v52.8H105.9z" />
                            <path style="fill:#FFCBA8;" d="M105.9,282.5v17.7H53c-14.6,0-26.5-11.9-26.5-26.5v-26.5h44.1c2.9,0,5.8,0.4,8.6,1.1  C94.9,252.2,105.9,266.3,105.9,282.5z" />
                            <path style="fill:#EBB691;" d="M273.7,185.4h-26.5c-4.9,0-8.8-4-8.8-8.8v-44.1H256v35.3h17.7V185.4z" />
                            <rect x="132.4" y="353.1" style="fill:#004475;" width="17.7" height="158.9" />
                            <rect x="361.9" y="353.1" style="fill:#004475;" width="17.7" height="158.9" />
                            <rect x="388.4" y="167.7" style="fill:#FFE168;" width="26.5" height="17.7" />
                            <path style="fill:#0B6B32;" d="M35.3,211.9h-8.8v-17.7h8.8l-5.3-7.1c-5.9-7.8-4.3-18.9,3.5-24.7c3.1-2.3,6.8-3.5,10.6-3.5H53v17.7  h-8.8l5.3,7.1c5.9,7.8,4.3,18.9-3.5,24.7C42.8,210.6,39.1,211.9,35.3,211.9z" />
                            <path style="fill:#EBB691;" d="M256,222.5L256,222.5c-12.3,0-24.1-4.9-32.7-13.6l12.5-12.4c5.3,5.4,12.6,8.4,20.1,8.4l0,0  c7.6,0,14.9-3,20.3-8.4l12.5,12.5C280.1,217.6,268.3,222.5,256,222.5z" />
                        </svg>
                        }
                        else if (item.rolename.ToString() == "Recruiter") {
                        <img src="~/images/recruiter.png" />
                        }
                        else if (item.rolename.ToString() == "Delivery Director")
                        {
                        <img src="~/images/delivery-director.png" />
                        }
                        <h5 class="text-primary pt-3 m-0 text-center">@item.rolename.ToString()</h5>
                    </div>
                </a>
                @*<div class="col-12" *ngIf="i == 1"></div>*@
            }
        </div>
    </div>
</div>


