@{
    ViewData["Title"] = "Access denied";
    // Layout = null;
}

<header style="padding: 10% 40% 40% 40%;">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Page not found.</p>
</header>
